config TOOL_WIFI_SSID
    string "WiFi SSID"
    default "Baremma2"
    help
        SSID for the security tool Wi-Fi connection.

config TOOL_WIFI_PASSWORD
    string "WiFi Password"
    default ""
    help
        Password for the security tool Wi-Fi connection.
